<div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        
        <div class="navb"><strong>Categories</strong>
          <ul class="nav navbar-nav">
                {% for categories in catalog %}
                <li class="cat">
                    <a href="{{url_for('showMenu', category_id = categories.id)}}">
                        <h3 class="menu-item">{{categories.name}}</h3>
                    </a>
                </li>
            {% endfor %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>